@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
	font-family: "Open Sans", sans-serif;
}

.header {
	background-color: #ff6c40;
	height: 721px;
	width: 15%;
	float: left;
	text-align: center;
	position: fixed;
	font-weight: bold;
}

.links {
	top: 7px;
}

.link {
	text-decoration: none !important;
	color: white;
	font-size: 22px;
	line-height: 35.8px;
	padding: 20px 60px;
	display: block;
	top: 30;
}

li:hover {
	background-color: #ffc480;
}

.container {
	padding-top: 30px;
	height: auto;
	min-height: 100%;
	margin-left: 393px;
	width: 80%;
	float: right;
	/* border: 1px solid red; */
}

.container-1 {
	padding-top: 30px;
	height: auto;
	min-height: 100%;
	margin-left: 393px;
	width: 50%;
	float: left;
	/* border: 1px solid red; */
}

.post-card {
	width: 1083px;
	height: 204px;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.post-card input {
	width: 1031.97px;
	height: 98px;
	margin-left: 25px;
	margin-top: 18px;
	background: #fafafa;
	border-radius: 15px;
	border: none;
	color: #3d3d3d;
	padding: 18px 626px 60px 24px;
	font-size: 17px;
}

input:active,
input:focus {
	outline: none;
}

.cancel {
	margin-top: 37px;
	width: 400px;
	float: left;
}

.cancel a {
	font-size: 17px;
	line-height: 20px;
	color: #ef3e36;
	margin-left: 70px;
	text-decoration: none;
}

.send {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.send button {
	padding: 13px 35px;
	width: 180.03px;
	height: 50px;
	color: white;
	font-size: 20px;
	background: #ff6c40;
	border-radius: 11px;
	border: none;
	outline: none;
	cursor: pointer;
}

.posts {
	position: absolute;
}

.post {
	width: 1083px;
	height: 170px;
	margin-top: 28px;
	background: #ffffff;
	border-radius: 15px;
}

.post img {
	width: 59.54px;
	height: 59.54px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 15px;
}

.post-content {
	float: right;
	width: 91%;
	margin-top: 20px;
	padding-bottom: 30px;
}

.name {
	font-weight: bolder;
}

.time {
	float: right;
	margin-right: 50px;
}

.post p {
	font-weight: lighter;
	font-size: 14px;
	width: 950px;
}

.search input {
	background: #e9e9e9;
	border: 2px solid #e2e2e2;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	width: 80%;
	padding: 7px 12px;
}

.stat-box {
	background: #ff6c40;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	height: 300px;
	width: 80%;
}

.left-stat {
	background-color: white;
	width: 75%;
	height: 300px;
	display: inline-block;
}

.left-stat img {
	margin-left: 40px;
	height: 220px;
	width: 85%;
	margin-bottom: 20px;
}

.report-text {
	font-size: 26px;
	margin: 15px 0 5px 15px;
}

.gray-text {
	color: gray;
}

.right-stat {
	float: right;
	margin-right: 25px;
	text-align: center;
}

.right-stat-head {
	color: rgb(233, 233, 233);
	font-size: 20px;
}

.box-1 {
	background: #ffe700;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	height: 100px;
	width: 100px;
	margin-top: 20px;
}

.box-2 {
	background: #1ffd77;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	height: 100px;
	width: 100px;
	margin-top: 20px;
}

.notes {
	background: #ffffff;
	border-radius: 15px;
	width: 40%;
	margin-top: 30px;
	padding: 20px;
}

.note-head {
	font-size: 24px;
	padding: 0px 10px;
	padding-bottom: 10px;
}

.notes input {
	border: none;
	outline: none;
	margin: 10px;
	border-bottom: 1px solid black;
	font-size: 16px;
	width: 160px;
}

.notes button {
	background: #ff6c40;
	border-radius: 50%;
	border: none;
	outline: none;
	padding: 0 7px;
	font-size: 26px;
	color: white;
}

.note {
	margin: 2px 10px;
}

.note-text {
	color: rgb(197, 197, 197);
	font-size: 14px;
}

.note p {
	margin-top: 15px;
}

.right {
	float: right;
	/* position: relative; */
	/* top: 0; */
	width: 23%;
	/* border: 1px solid red; */
	text-align: center;
	margin-top: 30px;
	margin-right: 15px;
	background-color: #fafafa;
	border-radius: 15px 15px 0px 0px;
}

.tab {
	width: 50%;
	display: inline-block;
	padding: 12px 20px;
	background-color: #ffffff;
	border-radius: 15px 15px 0px 0px;
}

.event {
	background-color: #fafafa;
}

.board {
	background: #ffffff;
	border-radius: 0px 0px 15px 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.board-1 {
	background: #ffffff;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	margin: 0 20px;
	padding-bottom: 12px;
}

.board-item {
	text-align: left;
	padding: 7px 15px;
	font-size: 14px;
	border-bottom: 1px solid rgb(197, 197, 197);
}

.item-name {
	font-weight: bold;
	color: #484848;
	font-size: 15px;
	padding: 7px 10px;
}

.item-msg {
	color: #756f6f;
	font-size: 14px;
	padding: 7px 10px;
}

.item-time {
	color: #756f6f;
	font-size: 10px;
	padding: 7px 10px;
}

.lower {
	display: flex;
}

.lower-right {
	/* border: 1px solid red; */
	margin-top: 30px;
	margin-left: 30px;
	width: 70%;
}

.lower-box-1 {
	background-color: #ffffff;
	width: 50%;
	height: 100px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	display: flex;
}

.inbox {
	color: #929292;
	font-size: 16px;
	margin-top: 40px;
	padding-left: 20px;
}

.inbox-num {
	color: #593636;
	font-size: 32px;
	text-align: right;
	margin-top: 28px;
	padding-left: 120px;
}
